.tituls{
    text-align: left; 
    font-family: Comic Sans MS; 
    font-weight:bold; 
    font-size: 30px; 
    color: #baeb58; 
    text-shadow: -1px 0 #414D68, 0 1px #414D68, 1px 0 #414D68, 0 -1px #414D68, -2px 2px 0 #414D68, 2px 2px 0 #414D68, 1px 1px #414D68, 2px 2px #414D68, 3px 3px #414D68, 4px 4px #414D68, 5px 5px #414D68; 6px 6px #414D68, 7px 7px #414D68, 8px 8px #414D68, 9px 9px #414D68;
    }

    .carnsmaterial{

     
            text-align: left; 
            font-family: Arial Black; 
            font-weight: bold; 
            font-size: 30px; 
            color: green; 
            text-shadow: 0 1px 0 rgb(2, 122, 2), 0 2px 0 rgb(0, 104, 0), 0 3px 0 rgb(0, 92, 0), 0 4px 0 rgb(0, 74, 0), 0 5px 0 green, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);
       
    }