*{


text-decoration: none;
list-style: none;


}
body{

        font-family: montserrat;
        background-color: white;
     
  

}

ul li{

    list-style: none;

}

ul li a{

    text-decoration: none;
    

}




ul .horitzontal{
    
    
    list-style-type: none; 
   



}

ul .horitzontal li{

float: left;

display: block;



border: 1px solid #1A1A1A; 
background-color: #B3B3B3; 
text-decoration: none; 
color: #333; 
font-size: 110%; 

}
.header{

    display: flex;
}
.prova  {

    background: linear-gradient(rgb(0, 90, 139),teal);
    width: 55%;
    float: left;



}

.caixa{

    background: linear-gradient(rgb(0, 90, 139),teal);
    width: 100%;
    
}

.barra{

    background: linear-gradient(rgb(0, 90, 139),teal);
    width: 20%;
}


.fotoimatge{
  
    width: 10rem;
 
    border-radius: 40%;
   
    background-color: white;
    
    float: center;
    position: absolute;
    bottom: 50%;
    left: 40%;
  
    
}

.foto {

  
    width: 10rem;
    border-radius: 30%;
   
    float: center;
    position: absolute;
    bottom: 50%;
    left: 71%;
    right: 50%;
    top: 50%;


}
.humo{

    float: left;

    width: 70px;
    height: 50px;
    position: absolute;

    left: 70%;
    right: 30%;
    top: 27%;

}
.carnsmaterial{

font-family: cursive;



}
.resultat{

    font-family: cursive;
    color: yellow;
} 
.tornar {
    float: right;
    left: 80%;
    color: brown;
    width: 150px
 

}